uvicorn[standard]
gunicorn
pydantic
fastapi

requests
orjson
email-validator

boto3

SQLAlchemy
SQLAlchemy-Utils


psycopg2 # we should update to psycopg3 with SQLAlchemy 2.0

alembic

PyYAML

celery[redis]
redis
cachetools
python-jose
